extends ../layouts/common
block contain
    span.mr-3.h1 User
    a.mb-3.btn.btn-primary(href='/users/create', role='button') New user
    form(action="/users/search", method="GET")
        .form-group
            input.form-control(type='text', name="q",value= val)
            button#button-addon2.btn.btn-outline-secondary Search
    table.table
        tr
            th Name
            th Phone
            th Actions
        each user in users
            tr
                td= user.name
                td= user.phone
                td
                    a.btn.btn-light(href="/users/" + user.id) View